p, div {
    font-family: Lato;
  }
    
  .wrapper {
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white
  }
  .vertical{
    display: flex;
    flex-direction: column;
  }
  .signup-btn{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    width: min-content;
    min-width: 100px;
    min-height: 400px;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: #fefefe;
    overflow: auto;
  }
  
  .form-wrapper > h2 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }  
  
  label {
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    border: 1px solid #d6d1d5;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #bbb;
  }
  .upload-image-wrapper{
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
  }
  .image-item-btn-wrapper{
    display: flex;
  }
  button {
      min-width: 50%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding:  0.938em;
}
.btn{
  min-width: 40px;
  height: 40px;
}

  .otpContainer{
    display: flex;
  }
  .container{
    width: 250px;
  }
  .container input{
    min-width: 40px;
  }
   
  .formitem
   {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
  }
  .formitem label{
    min-width: 200px;
  }
   
  .submit {
    width: 100%;
    display: flex;
    justify-content: center;
  }