.mainpage{
    width: 100%;
    height: 95%;
}
.product-label{
    width: 100%;
}
.product-container{
    width: 250px;
    height: 100px;
    display: flex;
    border: solid 1px;
    padding: 10px;
}
.product-image{
    width: 100px;
}
.add-btn{
    min-width: 100px;
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: right;
}